#wrap {
    width: 100%;
    margin: 0 auto;
}

section {
    height: auto;
    width: calc(100% - 120px);
    padding: 120px 60px 60px 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .text {
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
            line-height: 1.25;
        }
        a {
            margin-top: 40px;
        }
    }
    img {
        height: 100%;
        max-height: 400px;
    }
}

@media screen and (max-width: 1400px) {
    section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        img {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 900px) {
    section {
        height: calc(100vh - 90px);
        width: calc(100% - 60px);
        padding: 120px 30px 30px 30px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        margin-bottom: 100px;
        margin-top: 40px;
        img {
            width: 400px;
            margin-bottom: 60px;
        }
        .text { 
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 460px) {
    section {
        img {
            width: 300px;
        }
    }
}