#wrap {
    width: 100%;
    margin: 0 auto;
    padding: 140px 0;
}
#title {
    font-size: 4em;
    font-weight: 400;
    width: calc(100% - 120px);
    margin: 0 60px 60px 60px;
}
.photos {
    width: calc(100% - 100px);
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    .column {
        flex: 23%;
        max-width: 25%;
        padding: 0 10px;
        box-sizing: border-box;
        img {
            margin-top: 20px;
            vertical-align: middle;
            width: 100%;
        }
    }
    @media screen and (max-width: 1400px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 900px) {
    #title {
        font-size: 3em;
        width: calc(100% - 60px);
        margin: 0 30px 30px 30px;
    }
    .photos {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}