#wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#title {
    font-size: 3em;
    font-weight: 400;
    width: calc(100% - 120px);
    margin: 0 60px 60px 60px;
}
section {
    width: calc(100% - 120px);
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    .title {
        width: 25%;
        margin-right: 5%;
        h1 {
            font-size: 1.5em;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 1em;
            font-weight: 400;
        }
    }
    .description {
        width: 100%;
        p {
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 10px;
            a {
                font-weight: 700;
            }
        }
    }
    .description-with-col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .col1 {
            width: 50%;
        }
        .col2 {
            width: 40%;
        }
    }
}
hr {
    border: 1px solid black;
    width: calc(100% - 120px);
    margin: 50px 60px;
}
#wrap {
    padding: 140px 0;
}
@media screen and (max-width: 900px) {
    #title {
        width: calc(100% - 60px);
        margin: 0 30px 30px 30px;
    }
    section {
        margin: 0 30px;
        flex-direction: column;
        .title {
            margin-bottom: 30px;
            width: 100%;
            h1 {
                margin-bottom: 4px;
            }
        }
        .description {
            width: 100%;
        }
        .description-with-col {
            display: flex;
            flex-direction: column;
            width: 100%;
            .col1 {
                width: 100%;
            }
            .col2 {
                width: 100%;
            }
        }
    }
    hr {
        width: calc(100% - 60px);
        margin: 50px 30px;
    }
}